
.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0%);
    }
}