
.content-icons-1, .content-icons-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 40px 0;
}

.content-icons-1 img {
    width: 24px;
    height: 24px;
    margin: 5px;
}
