
.block-photo-picked {
    position: relative;
}

.photo-picked {
    position: absolute;
    left: 15%;
    top: 5%;
    right: 15%;
    bottom: 5%;
    z-index: 2;
}

#photo-darkened {
    position: relative;
}

#photo-darkened::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.photo-picked-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.user-avatar {
    height: 54px;
    width: 54px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 1%;
}

.user {
    display: flex;
    margin: 0;
}

.user h2 {
    color: white;
    margin: 0;
    width: 30%;
    white-space: nowrap;
}

.user h3 {
    color: white;
    margin: 0;
}

.buttons-photo-picked {
    cursor: pointer;
    margin: 0;
}

#expand-icon {
    position: absolute;
    bottom: 23%;
    right: 10%;
    cursor: pointer;
}

.tags-heading {
    display: flex;
    justify-content: center;
}

.tags-heading h4{
    color: #FFFFFF;
    margin: 1% 0 0.5% 0;
    font-size: 24px;
}

.tags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags-decor {
    color: #828282;
    background-color: white;
    margin: 1% 1% 0 1%;
    padding: 3px;
    border-radius: 8px;
    text-decoration: none;
}